/* line 1, ../sass/main.scss */
body {
  padding: 0;
  margin: 0;
  font-family: calibri;
  font-size: 1em;
  orphans: 2;
  widows: 2;
}

/* line 10, ../sass/main.scss */
.logobox {
  background-color: #011a48;
  margin: 0;
  padding: 1.5em;
  text-align: right;
}

/* line 17, ../sass/main.scss */
.logo {
  height: 3.3em;
  display: inline-block;
  max-width: 100%;
}

/* line 23, ../sass/main.scss */
.yellowBar {
  background-color: #fdd679;
  padding: 0;
  padding: 0 15%;
}

/* line 29, ../sass/main.scss */
.HSLS {
  max-width: 100%;
}

/* line 33, ../sass/main.scss */
h1 {
  margin: 0;
  display: inline-block;
  font-family: "Arial Narrow";
  font-weight: 400;
  font-size: 1.7em;
  letter-spacing: 3px;
}

/* line 42, ../sass/main.scss */
.mainImg {
  height: 20em;
  background-image: url(../photos/lady1.jpg);
  background-position: 30% 12%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 50, ../sass/main.scss */
.stripe {
  padding: 2.5em 15%;
  text-align: left;
}

/* line 55, ../sass/main.scss */
.grey {
  background-color: #8c8c8c;
}

/* line 59, ../sass/main.scss */
.container {
  display: inline-block;
  text-align: left;
  max-width: 35em;
}

/* line 66, ../sass/main.scss */
h2 {
  color: white;
  display: inline-block;
  font-size: 1.8em;
  font-family: "arial";
  font-weight: 300;
  margin-bottom: .75em;
  text-align: left;
  margin-top: 0;
}

/* line 77, ../sass/main.scss */
p {
  margin: 0;
  display: inline-block;
  text-align: left;
  max-width: 35em;
  line-height: 1.5em;
  color: white;
}

/* line 86, ../sass/main.scss */
.white {
  background-color: white;
}

/* line 90, ../sass/main.scss */
h3 {
  color: #737373;
  font-size: 1.8em;
  font-family: "arial";
  font-weight: 300;
  display: inline-block;
  margin-bottom: .75em;
  text-align: left;
}

/* line 101, ../sass/main.scss */
ul {
  list-style-type: circle;
  display: inline-block;
  text-align: left;
  padding: 0;
}

/* line 108, ../sass/main.scss */
li {
  list-style-type: circle;
  list-style-position: inside;
  color: #737373;
  font-size: 1em;
  display: list-item;
  margin-bottom: .5em;
}

/* line 117, ../sass/main.scss */
.footer {
  background-color: #011a48;
  padding: .25em;
  padding-right: .75em;
  font-size: 1em;
  color: white;
  text-align: right;
}

/* line 126, ../sass/main.scss */
.footerItem {
  display: inline-block;
  margin: 0;
  margin-left: .5em;
  color: white;
}

/* @media (min-width:540px) {
    ul {
     -moz-column-count: 2;
    -moz-column-gap: 45px;
    -webkit-column-count: 2;
    -webkit-column-gap: 45px;
    column-count: 2;
    column-gap: 45px;
    orphans:3;
    widows:3;
    }
}
*/
